logs/*
PS/Instructions/*
surveyapp/lib*
surveyapp/bin/*
surveyapp/pip*
surveyapp/pyvenv*
surveyapp/app/PS*
prepared/*
*.xlsx
*.csv
*.json
!surveyapp/app/simpleversion/PS_SurveyDefinition.json
*.parquet
!surveyapp/app/simpleversion/prepared_data/responses.parquet
